<div class="education">
    <i class="pencil">
        &#9998;</i>
    <h3>Education</h3>
    <div style="text-align:left;">
        <ul>
            <li>
                <h4>Título obtenido</h4>
                <h5>Nombre de la Institución</h5>
                <h5>dd/mm/aaaa</h5>
            </li>
            <li>
                <h4>Nombre de la Institución</h4>
                <h5>descripcion de la experiencias-descripcion de la experiencias-descripcion de la experiencias</h5>
                <h5>dd/mm/aaaa</h5>
            </li>
            <li>
                <h4>Nombre de la Institución</h4>
                <h5>descripcion de la experiencias-descripcion de la experiencias-descripcion de la experiencias</h5>     
                <h5>dd/mm/aaaa</h5>
            </li>                   
        
        </ul>    
    </div>        
</div>
