<div class="proyects">
    <i class="pencil">
        &#9998;</i>
    <h3>Proyects</h3>
    <div style="text-align:left;">
        <ul>             
            <li> 
                <h4>Proyecto 1</h4>
                <h6>mm/aaaa</h6>
                <h5>descripcion del proyecto</h5>
                <h6>sitio web</h6>
            </li>
            <li>
                <h4>Proyecto 2</h4>
                <h6>mm/aaaa</h6>
                <h5>descripcion del proyecto</h5>
                <h6>sitio web</h6>
            </li>    
            <li>
                <h4>Proyecto 3</h4>
                <h6>mm/aaaa</h6>
                <h5>descripcion del proyecto</h5>
                <h6>sitio web</h6>
            </li>    
            <li>
                <h4>Proyecto 4</h4>
                <h6>mm/aaaa</h6>
                <h5>descripcion del proyecto</h5>
                <h6>sitio web</h6>
            </li>    
        </ul>
    </div>        
</div>
