<header>
    <nav class="navbar">
        <div class="marcapersonal">
            <img class="logoAP" src="./img-portfolio/APLogo.png" alt="logo">
            <h2>Argentina Programa</h2>  
            <img class="logoLinkedin" src="./img-portfolio/Linkedin.svg" alt="linkedin">
            <div class="contenedor-botones">
                <button class="boton-login"><span>Login</span></button>
            </div>
            
            
        </div>
    </nav>
    <div class="banner">
        <i class="pencil">
            &#9998;
        </i>
        
            <div class="txt-banner">
                <div style="text-align:left;"> 
                    <h1> Hi! <span> welcome </span> to my portfolio</h1>
                    
                </div>                                                   
            </div>
        <img class="img-banner" src="./img-portfolio/programming8.jpg" alt="imagen banner">
        <img class="circular--square" src="./img-portfolio/Photo-profile.jpeg" alt="Veronica Turuget picture">
        <h2> Florencia Fuentes</h2>
    </div>   
</header>