<div class="about"> 
      
    <div class="about-info">
        <i class="pencil">
            &#9998;
        </i>
        <div class="titulo-about">
            <h2> Full Stack developer Jr.</h2>
        </div>
                        
        <div style="text-align:left;">
            <p> 
            <h4>Lorem ipsum dolor sit amet consectetur am, iure officia? rem ipsum dolor sit amet consCumque amet, dolorem animi facere rerum neque saepe?<br>
            </h4>
            
           
        </div>
    </div>
</div>
