<body>
  <header>
      <nav class="navbar">
          <div class="marcapersonal">
              <img class="logoAP" src="./img-portfolio/APLogo.png" alt="logo">
              <h2>Argentina Programa</h2>  
              <img class="logoLinkedin" src="./img-portfolio/Linkedin.svg" alt="linkedin">
              <div class="contenedor-botones">
                  <button class="boton-login"><span>Login</span></button>
              </div>
              
              
          </div>
      </nav>
  </header>
  <div class="banner">
      <i class="pencil">
          &#9998;
      </i>
      
          <div class="txt-banner">
              <div style="text-align:left;"> 
                  <h1> Hi! <span> welcome </span> to my portfolio</h1>
                  
              </div>                                                   
          </div>
          <img class="img-banner" src="./img-portfolio/programming8.jpg" alt="imagen banner">
          <img class="circular--square" src="./img-portfolio/Photo-profile.jpeg" alt="Veronica Turuget picture">
          <h2> Florencia Fuentes</h2>
  </div>        
  <div class="about"> 
      
      <div class="about-info">
          <i class="pencil">
              &#9998;
          </i>
          <div class="titulo-about">
              <h2> Full Stack developer Jr.</h2>
          </div>
                          
          <div style="text-align:left;">
              <p> 
              <h4>Lorem ipsum dolor sit amet consectetur am, iure officia? rem ipsum dolor sit amet consCumque amet, dolorem animi facere rerum neque saepe?<br>
              </h4>
              
             
          </div>
      </div>
  </div>
  <div class="experience">
      <i class="pencil">
          &#9998;</i>
      <h3>Experience</h3>
      <div style="text-align:left;">
          <ul>
              <li>
                  <h4>Nombre de la empresa</h4>
                  <h6>dd/mm/aaaa</h6>
                  <h5>Descripción del puesto</h5>
                  
              </li>
              <li>
                  <h4>Nombre de la empresa</h4>
                  <h6>dd/mm/aaaa</h6>
                  <h5>Descripción del puesto</h5>
              </li>
              <li>    
                  <h4>Nombre de la empresa</h4>
                  <h6>dd/mm/aaaa</h6>
                  <h5>Descripción del puesto</h5>
                  
              </li>    
              <li>
                  <h4>Nombre de la empresa</h4>
                  <h6>dd/mm/aaaa</h6>
                  <h5>Descripción del puesto</h5>
                  
              </li>
          </ul>
      </div>
  </div>
  <div class="education">
      <i class="pencil">
          &#9998;</i>
      <h3>Education</h3>
      <div style="text-align:left;">
          <ul>
              <li>
                  <h4>Título obtenido</h4>
                  <h5>Nombre de la Institución</h5>
                  <h5>dd/mm/aaaa</h5>
              </li>
              <li>
                  <h4>Nombre de la Institución</h4>
                  <h5>descripcion de la experiencias-descripcion de la experiencias-descripcion de la experiencias</h5>
                  <h5>dd/mm/aaaa</h5>
              </li>
              <li>
                  <h4>Nombre de la Institución</h4>
                  <h5>descripcion de la experiencias-descripcion de la experiencias-descripcion de la experiencias</h5>     
                  <h5>dd/mm/aaaa</h5>
              </li>                   
          
          </ul>    
      </div>        
  </div>
  <div class="skills">
      <i class="pencil">
          &#9998;</i>
      <h3>Skills</h3>
      
  </div>
  <div class="proyects">
      <i class="pencil">
          &#9998;</i>
      <h3>Proyects</h3>
      <div style="text-align:left;">
          <ul>             
              <li> 
                  <h4>Proyecto 1</h4>
                  <h6>mm/aaaa</h6>
                  <h5>descripcion del proyecto</h5>
                  <h6>sitio web</h6>
              </li>
              <li>
                  <h4>Proyecto 2</h4>
                  <h6>mm/aaaa</h6>
                  <h5>descripcion del proyecto</h5>
                  <h6>sitio web</h6>
              </li>    
              <li>
                  <h4>Proyecto 3</h4>
                  <h6>mm/aaaa</h6>
                  <h5>descripcion del proyecto</h5>
                  <h6>sitio web</h6>
              </li>    
              <li>
                  <h4>Proyecto 4</h4>
                  <h6>mm/aaaa</h6>
                  <h5>descripcion del proyecto</h5>
                  <h6>sitio web</h6>
              </li>    
          </ul>
      </div>        
  </div>
  <div class="contact">
      <i class="pencil">
          &#9998;
      </i>
      <h4>Say hello!</h4>

      <p><a href="mailto:fuentestgt@gmail.com?Subject=Hi%20mate" target="_top">email me</a></p>
     
      <a href="https://www.linkedin.com/in/florenciafuentes/" target="_blank" rel="nofollow">LinkedIn</a>
  </div>    
  <div class="foot">
      <p>
      Todos los derechos reservados - 2022
      </p>
  </div>
<!--bootstrap JS. -->
<script src="js/bootstrap.min.js"></script>
</body>

