<div class="experience">
    <i class="pencil">
        &#9998;</i>
    <h3>Experience</h3>
    <div style="text-align:left;">
        <ul>
            <li>
                <h4>Nombre de la empresa</h4>
                <h6>dd/mm/aaaa</h6>
                <h5>Descripción del puesto</h5>
                
            </li>
            <li>
                <h4>Nombre de la empresa</h4>
                <h6>dd/mm/aaaa</h6>
                <h5>Descripción del puesto</h5>
            </li>
            <li>    
                <h4>Nombre de la empresa</h4>
                <h6>dd/mm/aaaa</h6>
                <h5>Descripción del puesto</h5>
                
            </li>    
            <li>
                <h4>Nombre de la empresa</h4>
                <h6>dd/mm/aaaa</h6>
                <h5>Descripción del puesto</h5>
                
            </li>
        </ul>
    </div>
</div>